
body {
  margin: 0;
  padding: 0;
  background-color: #303030;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.glyphicon, .glyphicon-menu-hamburger, .toggleNav {
  display: none;
  font-size: 30px;
  color: #fff;
}

.glyphicon:hover, .glyphicon-menu-hamburger:hover, .toggleNav:hover {
  text-decoration: none;
  color: #fff;
}

.menu .open, .menu .open:visited {
  color: #fff;
  text-decoration: none;
}


.top-wrapper {
  margin: 0;
  background-color: #290000;
  padding: 20px;
}

/* Header */

.header-content {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-content ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.header-content ul li a:hover {
  background-color: #76c38f;
}

.header-content ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
}

.header-content .menu-nav {
  margin-top: 15px;
}

.text-logo {
  margin-top: 20px;
}

.text-logo h5 {
  font-size: 1.5em;
  color: white;
}
.text-logo p {
  color: white;
  font-size: .7em;
  margin-top: -12px;
}

.menu ul {
  display: flex;
}


/*-- DropDown --*/


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
}

.dropdown .dropdown-content .atext {
  color: #000;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* --- Carousel section --- */

.container {
  max-width: 1100px;
  padding: 20px 0;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  float: left;
  max-width: 300px;
  margin-top: 50px;
  margin-left: -60px;
}

.jumbotron h2 {
  font-size: 2.2em;
  color: #fff;
}

.jumbotron p {
  font-size: 1em;
  color: #fff;
}

.item img {
  float: right;
  border: 20px solid gray;
  border-radius: 50%;
  margin-right: 50px;
}

.carousel-inner {
  max-width: 960px;
  margin: 0 auto;
}

.item {
  margin: 0 auto;
  padding: 0 80px;
}





/*-- Middle Content --*/

.middle-content {
  background-color: #660000;
  padding: 20px 0 50px 0;
}

.mid-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.mid-wrapper ul {
  text-decoration: none;
  margin: 0;
  display: flex;
  padding: 0;
  text-align: center;
}

.mid-wrapper ul li {
  list-style: none;
  background-color: #fff;
  margin-right: 20px;
  padding: 50px 50px 10px 50px;
}

.mid-wrapper ul li a {
  color: #000;
  cursor: pointer;
}

.mid-wrapper ul li:hover {
  background-color: #76c38f;
}

.mid-wrapper ul li a:hover {
  text-decoration: none;
}

.mid-wrapper ul li:last-child {
  margin-right: 0;
}

.mid-wrapper ul li img {
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
}



/*-- Middle Line --*/

.middle-line {
    text-align: center;
    position: relative;
    margin-top: 60px;
}
.middle-line span {
    display: inline-block;
    width: 250px; 
    background-color: #303030;
    color: white; 
    font-size: 30px;
    margin-top: -30px;
    border-radius: 10px;
}
.middle-line span:before,
.middle-line span:after {
    border-top: 3px solid #303030;
    display: block;    
    height: 1em;
    content: " ";
    width: 37%;
    position: absolute;
    left: 0;
    top: 0;
}
.middle-line span:after {
   right: 0;  
   left: auto; 
}


/*-- middle-bottom-content --*/

.mid-bottom-wrapper {
  padding-top: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.mid-bottom-wrapper ul li img {
  max-width: 290px;
  max-height: 190px;
  width: 290px;
  height: 190px;
}

.mid-bottom-wrapper ul li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 5px solid white;
  max-width: 300px;
}

.mid-bottom-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}


.mid-bottom-wrapper ul li a:hover  {
  text-decoration: none;
}


.mid-bottom-wrapper ul li .text-wrap {
  max-width: 290px;
  width: 290px;
  padding: 8px;
  background-color: #151515;
  margin-top: -36px;
  position: absolute;
  color: white;
  transition: 5s ease;
}

.mid-bottom-wrapper ul li:hover .text-wrap, .mid-bottom-wrapper1 ul li:hover .text-wrap {
  display: none;
}

.mid-bottom-wrapper1 ul li:hover, .mid-bottom-wrapper ul li:hover {
  border: 5px solid #76c38f;
}

.mid-bottom-wrapper1 {
  padding-top: 30px;
  max-width: 960px;
  margin: 0 auto;
}

.mid-bottom-wrapper1 ul li img {
  max-width: 290px;
  max-height: 190px;
  width: 290px;
  height: 190px;
}

.mid-bottom-wrapper1 ul li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 5px solid white;
  max-width: 300px;
}

.mid-bottom-wrapper1 ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.mid-bottom-wrapper1 ul li a:hover  {
  text-decoration: none;
}


.mid-bottom-wrapper1 ul li .text-wrap {
  max-width: 290px;
  width: 290px;
  padding: 8px;
  background-color: #151515;
  margin-top: -36px;
  position: absolute;
  color: white;
}


/*-- Footer --*/

footer {
  background-color: #303030;

}

footer ul {
  padding: 0;
  margin: 0;
}

.footers {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footers ul {
  padding-top: 20px; 
  display: flex;
  justify-content: space-between;


}

.footers ul li {
  max-width: 225px; 
  width: 225px;

}

.footers ul li h2 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
}

.darkGreen {
  color: #76c38f;
}

.footers ul li p b {
  color: #666666;
}

.grayText {
  color: #979797;
}

.footers a:hover, .footers a:visited {
  color: #76c38f;
  text-decoration: none;
}

.foot-links, .foot-links ul {
  text-decoration: none;
  display: block;
}

.foot-links ul li {
  list-style: none;
  border-bottom: 1px solid #404040;
  margin: 5px 0;
  padding: 6px 0;
}

.foot-links ul {
  margin-top: -30px;
}

.footers ul li form input {
  margin-bottom: 10px;
  max-width: 225px;
  width: 225px;
  height: 40px;
  background-color: #222222;
  border:0;
  padding-left: 7px;
  border-radius: 10px;
  color: #fff;
}

.footers ul li form textarea {
  max-width: 225px;
  width: 225px;
  height: 80px;
  background-color: #222222;
  border:0;
  padding-left: 7px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #fff;
}

.footers ul li form button {
  background-color: #76c38f;
  border:0;
  padding: 10px;
  border-radius: 10px;
}

footer hr {
  background-color: #000;
  height: 3px;
  border:0;
}



/*-- Copyright --*/

.copyright {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}



@media screen and (max-width: 768px) {
  .item img {margin: 0 auto; padding: 0;}
  .middle-line span:before,
  .middle-line span:after {width: 30%;}
  .menu ul {display: none;}
  .menu li {flex-basis: 100%;}
  .toggleNav {display: block;}
  .menu ul.open {display: flex;}
  .menu ul {flex-wrap: wrap;}
  .menu li {flex-basis:100%; align-content: flex-end;}
  .text-logo {display: none;}
  .mid-bottom-wrapper ul li, .mid-bottom-wrapper ul li {flex-direction: column;}
  .mid-bottom-wrapper ul li:nth-child(2), .mid-bottom-wrapper1 ul li:nth-child(2) {margin-right: 10px;}
  .mid-bottom-wrapper ul li:nth-child(1), .mid-bottom-wrapper1 ul li:nth-child(1) {margin-left: 10px;}
  .copyright {flex-direction: column; text-align: center;}
}

@media screen and (max-width: 992px) {
  .mid-wrapper {align-items: center;}
  .mid-wrapper ul {padding: 20px; flex-wrap: wrap; flex: 1 1 50%;}
  .mid-wrapper ul li {flex: 1 1 50%; padding: 50px; margin: 0 auto; margin-bottom: 20px;}
  .mid-bottom-wrapper ul,
  .mid-bottom-wrapper1 ul {flex-wrap: wrap; justify-content: center;}
  .mid-bottom-wrapper ul li,
  .mid-bottom-wrapper1 ul li {margin-bottom: 20px;}
  .mid-bottom-wrapper ul li:nth-child(1),
  .mid-bottom-wrapper1 ul li:nth-child(1) {margin-right: 10px;}
  .mid-bottom-wrapper ul li:nth-child(2),
  .mid-bottom-wrapper1 ul li:nth-child(2) {margin-left: 10px;}
  .footers ul {margin: 0 20px; display: flex; flex-wrap: wrap;}
  .copyright {margin: 0 20px;}
  .foot-links ul {margin-top: -30px;}
}
